{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block form %}
    <form action="/wiki/search/" method="GET">
        <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
        <input type="submit" value="Search">
    </form>
{% endblock %}

{% block body %}
    <h1>New Page</h1><br>
    <h2 style="color: red;">{{ error }}</h2> <br>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Save">
    </form>

{% endblock %}